<div class="container">
    <h1 style="color: blue">Registro de Productos</h1>

    <fieldset style="border: 2px solid black; padding: 10px">
        <legend style="color: blue">Formulario de ingreso</legend>
        <form action="/productos" method="post">
            <div class="mb-3">
                <label for="nombreProducto" class="form-label">Nombre Producto</label>
                <br>
                <input type="text" class="form-control" name="nombre" placeholder="Nombre Producto" required>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <br>
                <input type="number" class="form-control" name="precio" placeholder="$$" required>
            </div>
            <div class="mb-3">
                <label for="url" class="form-label">Foto producto</label>
                <br>
                <input type="text" class="form-control" name="url" placeholder="URL" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Enviar</button>

        </form>
    </fieldset>
</div>
<br>
<div class="container">
    <h1>Listado de Productos</h1>
    <div class="container">
        {{#if productos.length}}
        <table class="table table-dark table-striped" style="text-align: center;">
            <tr>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Foto Producto</th>
            </tr>
            <br>
            {{#each productos}}
            <tr>
                <td scope="row">{{this.nombre}}</td>
                <td scope="row">$ {{this.precio}}</td>
                <td scope="row"><img src="{{this.url}}" class="img-fluid" style="width: 40px; heigth: 40px"></td>
            </tr>
            {{/each}}
        </table>
        {{else}}
        <h2>No hay productos</h2>
        {{/if}}
</div>
<br>
</div>
    <div class="container" id="mensajes">
        <form onsubmit="return addMessage(this)">
        <input type="text" id="author" placeholder="Tu nombre">
        <input type="text" id="text" placeholder="Cuentame algo...">
        <button type="submit">Enviar</button>
        </form>
    </div>

</div>

